@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f4f4f3;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    display: grid;
    grid-template-rows: 20vh 1fr 3vh;
    min-height: 100vh;
    
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    border: 1px solid #1a1a1a;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 10vh;
    font-weight: 900;
    background-color: #000;
    color: #f4f4f3;
    display: block;
    padding: .5em;
    letter-spacing: .2em;
}

h1:nth-child(2) {
    position: absolute;
    background-color: #f4f4f3;
    color: #000;
    clip-path: inset(-1% -1% 50% -1%);
}

a {
    text-decoration: none;
    color: #f4f4f3;
}

.wrapper {
    display: grid;
    grid-template-rows: 25vh 5vh 1fr 5vh;
    margin: 2vh 2vw;
    grid-gap: 2vh;
}

.images-field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
    margin: 1vh 1vw;
}

.wrapper button {
    justify-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #1a1a1a; */
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
}

.card p {
    padding: 20px 10px;
    background-color: rgba(26, 26, 26, 0.918);
    width: 100%;
    font-size: calc(.6rem + 1vmin);
    font-weight: bolder;
}

img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.input-field {
    padding-top: 10vh;
}

.form-container {
    position: relative;
}

.form-container label {
    position: absolute;
    left: 8px;
    top: 0;
    opacity: 0;
    transition: all 200ms;
}

.form-container input:not(:placeholder-shown) + label {
    background-color: #fff;
    transform: translate(0, -50%);
    opacity: 1;
}

h2 {
    margin-bottom: 5vh;
}

label {
    font-size: calc(0.5rem + 1vmin);
}

input {
    display: inline;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background: transparent;
    border: 2px solid #1a1a1a;
    outline: none;
    appearance: none;
    font-family: inherit;
    /* font-size: calc(0.4rem + 1vmin); */
    /* line-height: 1rem */
}

button {
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background: transparent;
    border: 2px solid #1a1a1a;
    outline: none;
    appearance: none;
    font-family: inherit;
    cursor: pointer;
    font-size: calc(0.5rem + 1vmin);
    width: 10vw;
    height: 5vh;
}


.inputfile::-webkit-file-upload-button {
  visibility: hidden;
}

.inputfile::before {
    content: 'Selected: ';
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: calc(.5rem + 1vmin);
}
.modal {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 40vw;
    grid-template-rows: 7vh 1fr;
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;
    padding: 1vh 1vw;
    background-color: #fff;

}

.modal img {
    height: 500px;
    width: 500px;

}

.closeBtn {
    grid-column: 1 / span 2;
    justify-self: end;
    cursor: pointer;
    padding: 1vh 1vw;
    font-size: calc(1.5rem + 1vmin);
}


.closeBtn:hover {
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 600px) {
   .images-field {
        display: flex;
        flex-direction: column;
    }
}