@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f4f4f3;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    display: grid;
    grid-template-rows: 20vh 1fr 3vh;
    min-height: 100vh;
    
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    border: 1px solid #1a1a1a;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 10vh;
    font-weight: 900;
    background-color: #000;
    color: #f4f4f3;
    display: block;
    padding: .5em;
    letter-spacing: .2em;
}

h1:nth-child(2) {
    position: absolute;
    background-color: #f4f4f3;
    color: #000;
    clip-path: inset(-1% -1% 50% -1%);
}

a {
    text-decoration: none;
    color: #f4f4f3;
}

.wrapper {
    display: grid;
    grid-template-rows: 25vh 5vh 1fr 5vh;
    margin: 2vh 2vw;
    grid-gap: 2vh;
}

.images-field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
    margin: 1vh 1vw;
}

.wrapper button {
    justify-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
}

.card p {
    padding: 20px 10px;
    background-color: rgba(26, 26, 26, 0.918);
    width: 100%;
    font-size: calc(.6rem + 1vmin);
    font-weight: bolder;
}

img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}


h2 {
    margin-bottom: 5vh;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.form-container button {
    grid-row: 1;
    grid-column: 3;
    align-self: flex-end;
}

.field-wrapper {
    position: relative;
    margin: 20px auto;
}

.field-input {
    display: block;
    outline: none;
    appearance: none;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 25vw;
    font-family: inherit;
    font-size: calc(0.4rem + 1vmin);
    border: 2px solid #1a1a1a;
    background-color: #f4f4f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
}

.field-input:focus {
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    color: #f4f4f3;
}

.field-label {
    display:block;
    position: absolute;
    opacity: 0;
    bottom: 1.9em;
    color: #1a1a1a;
    transition: 0.2s ease-in-out transform;
    font-size: calc(0.35rem + 1vmin);
}

.field-input:placeholder-shown + .field-label {
  visibility: hidden;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.field-input:not(:placeholder-shown) + .field-label,
.field-input:focus:not(:placeholder-shown) + .field-label{
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-15px);
  transition: 0.2s ease-in-out transform;
}

button {
    margin: 1vh 1vw;
    background: transparent;
    border: 2px solid #1a1a1a;
    outline: none;
    appearance: none;
    font-family: inherit;
    cursor: pointer;
    font-size: calc(0.5rem + 1vmin);
    width: 10vw;
    height: 4vh;
}

button:hover {
    background-color: #1a1a1a;
    color: #f4f4f3;
}

button:active {
    background-color: #1a1a1a;
    box-shadow: 
        inset 3px 3px 1px #f4f4f3,
        inset -3px -3px 1px 1px #f4f4f3;
}

.inputfile::-webkit-file-upload-button {
  visibility: hidden;
}

.inputfile::before {
    content: 'Image: ';
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: calc(.5rem + 1vmin);
}
.modal {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 40vw;
    grid-template-rows: 7vh 1fr;
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;
    padding: 1vh 1vw;
    background-color: #f4f4f3;
    grid-gap: 1vw;
}

.modal .form-container {
    display: flex;
    flex-direction: column;
}

.modal .form-container button {
    align-self: center;
}

.modal img {
    height: auto;
    width: 100%;
    max-height: 500px;
    object-fit: contain;

}

.closeBtn {
    grid-column: 1 / span 2;
    justify-self: end;
    cursor: pointer;
    padding: 1vh 1vw;
    font-size: calc(1.5rem + 1vmin);
}


.closeBtn:hover {
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 600px) {
   .images-field {
        display: flex;
        flex-direction: column;
    }
}